/* Sticky header at the top */
.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 5rem;
  z-index: 1000;
}

.header .header-wrapper {
  max-width: 35rem;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0 1.5rem 0 1.5rem;
}

@font-face {
  font-family: "Brandon";
  src: url("./fonts/Brandon_bld.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon";
  src: url("./fonts/Brandon_med.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon";
  src: url("./fonts/Brandon_reg.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon";
  src: url("./fonts/Brandon_light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon";
  src: url("./fonts/Brandon_thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@media (min-width: 350px) {
  .header .header-wrapper {
    max-width: 35rem;
  }
}

@media (min-width: 480px) {
  .header .header-wrapper {
    max-width: 48rem;
  }
}

@media (min-width: 600px) {
  .header .header-wrapper {
    max-width: 60rem;
  }
}

@media (min-width: 768px) {
  .header .header-wrapper {
    max-width: 76rem;
  }
}

@media (min-width: 960px) {
  .header .header-wrapper {
    max-width: 96rem;
  }
}

@media (min-width: 1180px) {
  .header .header-wrapper {
    max-width: 113rem;
  }
}

.header img {
  width: 12.5rem;
  margin-top: -4px;
}

/* HEADER END */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #333332;
  font-family: "Brandon", Arial, Helvetica, sans-serif;
}

/* INTRODUCTION */

.logo-intro {
  margin-top: 6.7rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo-intro img {
  width: 180px;
  height: 30px;
}

.logo-intro p {
  font-size: 1.5rem;
  color: #d73e33;
}

.introduction {
  display: grid;

  justify-content: center;
  gap: 25px;
  line-height: 1;
  padding: 30px 0px 30px 0px;
}

.introduction .catalog-img {
  height: 100%;
}

.introduction .img-container {
  justify-self: center;
  height: 270px;
  width: 209px;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.introduction .container1 {
  justify-self: center;
  animation: signSwingBottom 0.9s ease-in-out forwards;
}

@keyframes signSwingBottom {
  0% {
    transform: rotateX(-90deg);
    transform-origin: center bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: center bottom;
    opacity: 1;
  }
}

.introduction .thanks {
  font-size: 6.3rem;
  font-family: "Brandon", sans-serif;
  font-weight: 800;
  line-height: 0.9;
}
.introduction .description {
  font-size: 2.2rem;
  line-height: 1.4;
  margin-top: 10px;
}

.introduction .explore {
  justify-self: center;
  font-size: 3.6rem;
  margin-top: -20px;
}

.introduction .bottom-container {
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.3;
  color: #babcbe;
}

.explore img {
  max-width: 300px;
}

/* SECTION LIST */
.section-list {
  display: flex;
  flex-direction: column;
  min-width: 370px;
}

/*brand-1 */

.brand-1,
.brand-2,
.brand-3,
.brand-4,
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-1 .grid-wrapper,
.brand-2 .grid-wrapper,
.brand-3 .grid-wrapper,
.brand-4 .grid-wrapper {
  display: grid;
  max-width: 600px;
  width: 100%;
  padding: 30px 20px 30px 20px;
}

.brand-1 .logo,
.brand-2 .logo,
.brand-3 .logo,
.brand-4 .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 8.5rem;
  max-width: 600px;
  width: 100%;
}

.brand-1 .logo img,
.brand-2 .logo img,
.brand-3 .logo img,
.brand-4 .logo img {
  max-height: 100px;
}

.item {
  font-size: 2.1rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.item p {
  margin-left: 10px;
  line-height: 1.2;
}

.item img {
  max-width: 300px;
}

.item a {
  display: inline-block;
  align-self: center;
}

/* ASSI BRAND */

.brand-1 .logo {
  background-color: white;
}

/* .brand-1 a {
	max-width: fit-content;
} */

.brand-1 .item {
  justify-self: center;
}
.brand-1 .item img {
  max-width: 300px;
}

/* SAMLIP */

.brand-2 .logo {
  background-color: #ed312c;
}

.brand-2 .grid-wrapper {
  gap: 20px;
}

/* TCC */

.brand-3 .logo {
  background-color: #36ad57;
  grid-column: 1/3;
}

.brand-3 .item {
  padding: 0;
  align-self: baseline;
}

/* .brand-3 .item a {
  max-height: fit-content;
} */

.brand-3 img {
  max-width: 200px;
  justify-self: center;
}

.brand-3 .coconut-milk {
  max-width: 130px;
  align-self: flex-start;
}

.brand-3 .sweet-chili {
  grid-column: 1/3;
}

.brand-3 .grid-wrapper {
  grid-template-columns: repeat(2, 1fr);
}

/* DONGWON */

.brand-4 .logo {
  background-color: #fee4b9;
}
/* CONTACT */

.outer-container {
  margin-top: 40px;
  padding: 20px 40px 40px 40px;
  max-width: 600px;
  width: 100%;
  font-size: 2.3rem;
  font-weight: 200;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  letter-spacing: 1px;
}

.outer-container > p {
  color: inherit;
  text-decoration: none;
}

.outer-container .contact-header {
  border-top: 2px solid #d73e33;
  padding-top: 20px;
  color: #d73e33;
  font-size: 2.8rem;
  font-weight: 400;
}

.outer-container .name {
  font-weight: 400;
  font-size: 3.3rem;
  margin-top: 10px;
}

.outer-container .job {
  font-size: 2.7rem;
}

.outer-container .number {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.inner-container .number:first-of-type {
  margin-top: 10px;
}

.number > :first-child {
  min-width: 20px;
  font-weight: 800;
}
