/* Sticky header at the top */
.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 5rem;
  z-index: 1000;
}

.header .header-wrapper {
  max-width: 35rem;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0 1.5rem 0 1.5rem;
}

@media (min-width: 350px) {
  .header .header-wrapper {
    max-width: 35rem;
  }
}

@media (min-width: 480px) {
  .header .header-wrapper {
    max-width: 48rem;
  }
}

@media (min-width: 600px) {
  .header .header-wrapper {
    max-width: 60rem;
  }
}

@media (min-width: 768px) {
  .header .header-wrapper {
    max-width: 76rem;
  }
}

@media (min-width: 960px) {
  .header .header-wrapper {
    max-width: 96rem;
  }
}

@media (min-width: 1180px) {
  .header .header-wrapper {
    max-width: 113rem;
  }
}

.header img {
  width: 12.5rem;
  margin-top: -4px;
}

/* HEADER END */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #333332;
}

/* INTRODUCTION */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  padding: 30px;
}

.introduction .catalog-img {
  max-height: 200px;
}

.introduction .thanks {
  font-size: 5rem;
}

.logo-intro {
  margin-top: 5rem;
}

.logo-intro h1 {
  font-size: 3.3rem;
}

.logo-intro p {
  font-size: 1.6rem;
  color: red;
}

.introduction .content {
  display: flex;
  flex-direction: column;
}
