html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	overflow: hidden;
	color: #ffffff;
}

/* Sticky header at the top */
.header {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	height: 5rem;
	z-index: 1000;
}

.header .header-wrapper {
	max-width: 35rem;
	height: 100%;
	margin: 0 auto 0 auto;
	padding: 0 1.5rem 0 1.5rem;
}

@media (min-width: 350px) {
	.header .header-wrapper {
		max-width: 35rem;
	}
}

@media (min-width: 480px) {
	.header .header-wrapper {
		max-width: 48rem;
	}
}

@media (min-width: 600px) {
	.header .header-wrapper {
		max-width: 60rem;
	}
}

@media (min-width: 768px) {
	.header .header-wrapper {
		max-width: 76rem;
	}
}

@media (min-width: 960px) {
	.header .header-wrapper {
		max-width: 96rem;
	}
}

@media (min-width: 1180px) {
	.header .header-wrapper {
		max-width: 113rem;
	}
}

.header img {
	width: 12.5rem;
	margin-top: -4px;
}

/* INTRODUCTION */

.logo-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1;
}

.logo-intro p {
	color: red;
	font-size: 1.4rem;
	white-space: nowrap;
}

.logo-intro h1 {
	white-space: nowrap;
}

/* Container for vertically snapping sections */
.snap-list {
	padding-top: 5rem;
	height: 100vh; /* Viewport-height for each section */
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	background-color: #333332;
}

.snap-list section {
	height: 100vh;
	scroll-snap-align: start;
	padding: 20px;
	font-size: 2rem;
}

section h1 {
	text-align: center;
	margin-top: 5rem;
}
